<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>requirevuetest</title>
		<style type="text/css">
			body,div,ul,li,h2,iframe{
				margin: 0;padding: 0;
			}
		</style>
	</head>

	<body>
		
		<div id="header">
			<div class="logo">
				<h2>{{headertitle}}</h2>
			</div>
		</div>
		<div id="main" >
			<div id="left-menu">
				<ul>
					<div v-for='i in menus' v-bind:class="i.id">
						<ul  class="major-menu" @click="majorMenuChangePage(i.id)"><a>{{i.title}}</a></ul>
						<li class="sub-menu" @click="subMenuChangePage(j.id)" v-for="j in i.children"><a>{{j.title}}</a></li>
					</div>
				</ul>
			</div>
			<div id="center-view">
				<iframe id="content_iframe" v-bind:src="pageUrl" ></iframe>
			</div>
		</div>
		

	</body>
	<script type="text/javascript" src="src/lib/import/require.js"></script>
	<script src="require.config.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		require(['appEntry']);
	</script>

</html>